.place__text {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: flex-start;
  gap: 26px;
}


@media screen and (max-width: 1023px) {
  .place__text {
    gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    margin: 0 auto;
    max-width: 288px;
  }
}