.places__website-url-heading {
  color: #AAAAAA;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}