.places__website {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .places__website {
    align-self: start;
    margin-left: 16px;
  }
}